
.widget-time {font-weight: 300;letter-spacing: .3px;padding-left: 0px;flex-grow: 1;}
.widget-time .time {font-size: 14px;letter-spacing: 1px;margin-right: 8px;font-weight: 400;}
.widget-time .time span {display: inline-block;text-align: center;width: 8px;vertical-align: top;}
.widget-time .date {font-size: 11px;color: $color-text-alt;line-height: 12px;padding-top: 3px;}
